.footer {
  font-size: 1rem;
  text-align: center;
  color: var(--text-color);
  background: var(--primary-color);  
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}